prj/RaspberryPi-XBee-SMT/*.[bs]#[0-9]
prj/RaspberryPi-XBee-SMT/*.dri
prj/RaspberryPi-XBee-SMT/*.G[BT][LOPS]
prj/RaspberryPi-XBee-SMT/*.GML
prj/RaspberryPi-XBee-SMT/*.gpi
prj/RaspberryPi-XBee-SMT/*.gvp
prj/RaspberryPi-XBee-SMT/*.TXT
.*.swp
